/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-tropicalista-pdfembed {
    display: flex;
    flex-direction: column;
    min-height: auto;
    height: auto;
}
