/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-tropicalista-pdfembed {
    padding: 20px 20px; 
    height: auto;
    min-height: auto;
}
